name: "CI"

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - "main"

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.sha }}"
  cancel-in-progress: true

env:
  FLOX_DISABLE_METRICS: "true"

jobs:

  test-action:
    name: "Github Action Test"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    strategy:
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
        channel:
          - "stable"
          - "nightly"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install Flox"
        uses: "flox/install-flox-action@main"
        with:
          channel: "${{ matrix.channel }}"

      - name: "Test Remote environment"
        uses: "./"
        with:
          environment: "flox/python-pip"
          command: "python --version"

      - name: "Test Local Action"
        uses: "./"
        with:
          command: "python --version"
          dir: "./test-env"
